# =============================================================================
# TranzFer MFT — GRUB Boot Menu
# =============================================================================

set timeout=10
set default=0

menuentry "Install TranzFer MFT (Automated)" {
    linux  /casper/vmlinuz quiet autoinstall ds=nocloud\;s=/cdrom/autoinstall/ ---
    initrd /casper/initrd
}

menuentry "Install TranzFer MFT (Interactive)" {
    linux  /casper/vmlinuz ---
    initrd /casper/initrd
}

menuentry "Check disc for defects" {
    linux  /casper/vmlinuz integrity-check ---
    initrd /casper/initrd
}

menuentry "Boot from first hard disk" {
    set root=(hd0)
    chainloader +1
}
